<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
</body>

<footer class="bg-light text-center text-lg-start mt-5 shadow-lg">
    <div class="container p-4">
        <div class="row">
            <!-- About Section -->
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase fw-bold ">Communication Report Generator</h5>
                <p class="text-muted">
                    Generate Audio task and daily Session report effertessly with our tool ,its gives You more
                    Productivity
                </p>
            </div>
            <!-- Quick Links -->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase fw-bold ">Quick Links</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="/" class="text-dark text-decoration-none">Home</a>
                    </li>
                    <li>
                        <a href="/generate-daily-session-report" class="text-dark text-decoration-none">Daily Session
                            Report</a>
                    </li>
                    <li>
                        <a href="/generate-audio-task-report" class="text-dark text-decoration-none">Audio Task
                            Report</a>
                    </li>
                </ul>
            </div>
            <!-- Contact Info -->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase fw-bold ">Contact</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="mailto:Farseennkbcr28@gmail.com" class="text-dark text-decoration-none">
                            <i class="bi bi-envelope-fill me-2"></i>Email: Farseennkbcr28@gmail.com
                        </a>
                    </li>
                    <li>
                        <a href="tel:+917558857713" class="text-dark text-decoration-none">
                            <i class="bi bi-telephone-fill me-2"></i>Phone: 7558857713
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Copyright Section -->
    <div class="text-center p-3 bg-s ">
        &copy; 2024 <strong>Communication Report Generator</strong>. All rights reserved.
    </div>
</footer>

</html>